<% posts.each do |post| %>
  <h3><%= post.title %></h3>
  <p><%= post.content %></p>
  <button class="btn-primary">
    <%= post.title %>
  </button>
  <button class="btn-danger">
    <%= post.content %>
  </button>
<% end %>