// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.posts_head {
    background-color: orange;
    
    
}

.posts_head th {
    border: 1px solid black;
}

.posts_content .new_comment  {
    border-bottom: 1px dashed orange;
}